@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}

body {
    font-family: 'Roboto';
}

.header {
    background-color: #1F2937;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    display: flex;
    justify-content: center;
    align-items: center;
}

li.header-links {
    font-size: 18px;
    color: #E5E7EB;
}

.container-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 175px;
    margin-right: 150px;
    height: 50px;
}
ul {
    display: flex;
    gap: 10px;
}

.awesome {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.subtext {
    font-size: 18px;
    color: #E5E7EB;
}