@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}

body {
    font-family: 'Roboto';
}

.header {
    background-color: #1F2937;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    display: flex;
    justify-content: center;
    align-items: center;
}

li.header-links {
    font-size: 18px;
    color: grey;
}

.container-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 175px;
    margin-right: 150px;
    height: 50px;
}
ul {
    display: flex;
    gap: 10px;
}

.awesome {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.subtext {
    font-size: 18px;
    color: #E5E7EB;
}

.content {
    display: flex;
    justify-content: space-between;
    margin-left: 175px;
    margin-right: 150px;
    padding-bottom: 100px;
}

.left-side {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 50px;
}

img {
    margin-top: 60px;
    margin-right: 50px;
    height: 200px;
}

.button-1 {
    background-color: #3882f6;
    color: white;
    border: 1px #3882f6;
    border-radius: 8px;
    padding: 10px;
    width: 125px;
    font-weight: bold;
    margin-top: 5px;
}

.h2 {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    display: flex;
    padding-top: 5px;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.boxes {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.blue-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 20px;
}

.blue-square {
    border: 3px solid #3882f6;
    height: 150px;
    width: 150px;
    border-radius: 10px;

}

.section-2 {
    margin: 30px;
    text-align: center;
}

.section-3{
    background-color: #E5E7EB;
    color: #1F2937;
    padding-top: 150px;
    padding-bottom: 100px;
}
span {
    font-size: 18px;
    color: grey;
    padding-top: 5px;
}
.quote-box {
    display: flex;
    justify-content: center;
    align-items: center;
}
.thor {
    text-align: right;
    font-weight: bold;

}

.quote-text {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    text-align: center;
}

.section-4 {
    margin: 50px;
}

.blue-prompt{
    display: flex;
    background-color: #3882f6;
    border: 5px solid #3882f6;
    border-radius: 10px;
    padding:  25px;
    width: 50%;
    margin-left: 500px;
    justify-content: space-between;
}
.call-to-action {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    color: #E5E7EB;
}

.button-2 {
    background-color: #3882f6;
    border: 3px solid white;
    border-radius: 10px;
    width: 125px;
    padding: 10px;
    color: white;
    height: 40px;
    align-items: center;
}

.footer {
    background-color: #1F2937;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-cr {
    color: white;
}

