@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}

body {
    font-family: 'Roboto';
}

.header {
    background-color: #1F2937;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    display: flex;
    justify-content: center;
    align-items: center;
}

li.header-links {
    font-size: 18px;
    color: #E5E7EB;
}

.container-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 175px;
    margin-right: 150px;
    height: 50px;
}
ul {
    display: flex;
    gap: 10px;
}

.awesome {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.subtext {
    font-size: 18px;
    color: #E5E7EB;
}

.content {
    display: flex;
    justify-content: space-between;
    margin-left: 175px;
    margin-right: 150px;
    padding-bottom: 100px;
}

.left-side {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 50px;
}

img {
    margin-top: 60px;
    margin-right: 50px;
    height: 200px;
}

button {
    background-color: #3882f6;
    color: white;
    border: 1px #3882f6;
    border-radius: 8px;
    padding: 10px;
    width: 125px;
    font-weight: bold;
    margin-top: 5px;
}